extends layout

block content
	.container
		h2 About Us
		p Aliquam ullamcorper tortor non massa laoreet, nec aliquam enim aliquam. Morbi vitae libero rhoncus, ultricies magna eget, tempor nisi. Morbi et dui tempor, accumsan ante quis, placerat mi. Pellentesque accumsan mollis vehicula. Aenean bibendum aliquet nunc, rhoncus maximus est pulvinar a. Integer pellentesque fringilla ante, sed semper est euismod convallis. Nullam tempor quis urna in sollicitudin. Integer dapibus condimentum malesuada. Praesent eu leo magna.
		a.btn.btn-default(href='#') View Details