extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus consequat facilisis. Maecenas at nulla placerat mauris condimentum feugiat non sit amet neque. Donec mattis tellus id pellentesque elementum. Nulla facilisi. Integer euismod tempus ornare. Nulla facilisi. Integer pharetra justo consequat, sodales nunc in, tristique magna. Curabitur accumsan mauris dapibus risus ornare, vitae pellentesque orci suscipit. Mauris sit amet congue nibh.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Aliquam ullamcorper tortor non massa laoreet, nec aliquam enim aliquam. Morbi vitae libero rhoncus, ultricies magna eget, tempor nisi. Morbi et dui tempor, accumsan ante quis, placerat mi. Pellentesque accumsan mollis vehicula. Aenean bibendum aliquet nunc, rhoncus maximus est pulvinar a. Integer pellentesque fringilla ante, sed semper est euismod convallis. Nullam tempor quis urna in sollicitudin. Integer dapibus condimentum malesuada. Praesent eu leo magna.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Service
				p Aliquam ullamcorper tortor non massa laoreet, nec aliquam enim aliquam. Morbi vitae libero rhoncus, ultricies magna eget, tempor nisi. Morbi et dui tempor, accumsan ante quis, placerat mi. Pellentesque accumsan mollis vehicula. Aenean bibendum aliquet nunc, rhoncus maximus est pulvinar a. Integer pellentesque fringilla ante, sed semper est euismod convallis. Nullam tempor quis urna in sollicitudin. Integer dapibus condimentum malesuada. Praesent eu leo magna.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get in touch
				p Aliquam ullamcorper tortor non massa laoreet, nec aliquam enim aliquam. Morbi vitae libero rhoncus, ultricies magna eget, tempor nisi. Morbi et dui tempor, accumsan ante quis, placerat mi. Pellentesque accumsan mollis vehicula. Aenean bibendum aliquet nunc, rhoncus maximus est pulvinar a. Integer pellentesque fringilla ante, sed semper est euismod convallis. Nullam tempor quis urna in sollicitudin. Integer dapibus condimentum malesuada. Praesent eu leo magna.
				a.btn.btn-default(href='#') View Details										
